<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1003574395184-k1k155sfll3cu75da46vj9ubjh30lpqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003574395184-k1k155sfll3cu75da46vj9ubjh30lpqc</string>
	<key>API_KEY</key>
	<string>AIzaSyAJZDrMuG_bZM8Yd0ivtW5oZ2LGSTTY-C4</string>
	<key>GCM_SENDER_ID</key>
	<string>1003574395184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs4261.Smart-Training-Log</string>
	<key>PROJECT_ID</key>
	<string>smart-training-log-2a77d</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-training-log-2a77d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003574395184:ios:3b08a2bfc25a4406</string>
	<key>DATABASE_URL</key>
	<string>https://smart-training-log-2a77d.firebaseio.com</string>
</dict>
</plist>
